pyenv
notebook
__pycache__
*.py[cod]
*.egg-info/
/data
/example-output/
.ipynb_checkpoints/
.venv
.pytest_cache/
build/
/dist/
target/
.DS_Store
.env
/configs/
.kairos/
/examples/.kairos/runs/
/kairos.toml
/.configs/
kairospy.bak
node_modules/
view/tsconfig.tsbuildinfo
/legacy/
