[account]
id = "{{account_id}}"
broker = "paper"
integration_provider = "paper"
environment = "paper"
default_segment = "equity"
fee_rate = "0"

[initial_balances]
USD = "100000"

[segments.equity]
product_family = "equity"
